doctype
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        //- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
        meta(name='description', content='pug & sass implementations of www.w3schools.com how-to s')
        meta(name='author', content='rajibchisim@gmail.com')
        title 01 Slide Show
        link(rel="stylesheet", href="./style.css")

    -var images = [['1/4', 'Caption 1', './images/img_lights_wide.jpg'], ['2/4', 'Caption 2', './images/img_mountains_wide.jpg'], ['3/4', 'Caption 3', './images/img_nature_wide.jpg'], ['4/4', 'Caption 4', './images/img_snow_wide.jpg']]
    body
        div.container
            div(class="slides")
                each val in images                    
                    div(class="slide fade")
                        div.number
                            p= val[0]
                        img(src=val[2]).img-slide
                        div.caption
                            p= val[1]

                a(onClick='slideSlides(-1)').l-arrow ❰
                a(onClick='slideSlides(1)').r-arrow ❱

            div.slide-selectors
                each val in [0, 1, 2, 3]
                    span(onClick="changeSlide("+val+")").selector
            script(src="./script.js")